@import './fonts';
@import './variables';
@import './mixins';
@import './vue';
body {
    color: $black;
    background: $white;
    margin: 50px 70px;
    @media screen and (max-width: 480px) {
        margin: 50px 25px;
    }
}

ul {
    list-style: none;
    margin: 0;
}